{% extends 'base_bottom.html' %}


{% block body %}
<div class="admin-form">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Widget starts -->
            <div class="widget wred">
              <div class="widget-head">
                <i class="icon-lock"></i> Register 
              </div>
              <div class="widget-content">
                <div class="padd">
                  
                  <form class="form-horizontal" action="/user/register_handle/" method="post">
                      {% csrf_token %}
                    <!-- Registration form starts -->
                                      <!-- Name -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="name">Name</label>
                                            <div class="col-lg-9">
                                              <input type="text" class="form-control" name="name" id="name">
                                            </div>
                                          </div>   
                                          <!-- Email -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="email">Email</label>
                                            <div class="col-lg-9">
                                              <input type="text" class="form-control" name="email" id="email">
                                            </div>
                                          </div>
                                          <!-- Username -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="userName">Username</label>
                                            <div class="col-lg-9">
                                              <input type="text" class="form-control" name="userName" id="userName">
                                            </div>
                                          </div>
                                          <!-- Password -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="passWord">Password</label>
                                            <div class="col-lg-9">
                                              <input type="password" class="form-control" name="passWord" id="passWord">
                                            </div>
                                          </div>
                                            <!-- confirmPwd -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="confirmPwd">Confirm Password</label>
                                            <div class="col-lg-9">
                                              <input type="password" class="form-control" name="confirmPwd" id="confirmPwd">
                                            </div>
                                          </div>
                                            <!-- PhoneNumber -->
                                          <div class="form-group">
                                            <label class="control-label col-lg-3" for="phoneNumber" >PhoneNumber</label>
                                            <div class="col-lg-9">
                                              <input type="text" class="form-control" name="phoneNumber" id="phonenumber">
                                            </div>
                                          </div>
                                          <!-- Accept box and button s-->
                                          <div class="form-group">
                                            <div class="col-lg-9 col-lg-offset-3">
											  <div class="checkbox">
                                              <label>
                                                <input type="checkbox" name="accept"> Accept Terms &amp; Conditions
                                              </label>
											  </div>
                                              <br />
                                              <button type="submit" class="btn btn-danger">Register</button>
                                              <button type="reset" class="btn btn-success">Reset</button>
                                            </div>
                                          </div>
										  <br />
                  </form>

                </div>
              </div>
                <div class="widget-foot">
                  Already Registred? <a href="login.html">Login</a>
                </div>
            </div>  
      </div>
    </div>
  </div> 
</div>
	
		

<!-- JS -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>

{% endblock body %}